</div>
</div>
<!-- Footer -->
<footer id="footer">
	<div class="inner">
		<section id="contact">
			<h2>Get in touch</h2>
			<form method="post" action="https://formspree.io/{{ site.email }}"
      method="POST">
				<div class="field half first">
					<input type="text" name="name" id="name" placeholder="Name" required>
				</div>
				<div class="field half">
					<input type="email" name="_replyto" id="email" placeholder="Email" required>
				</div>
				<div class="field">
					<textarea name="message" id="message" placeholder="Message" required></textarea>
				</div>
				<ul class="actions">
					<li>
						<input type="submit" value="Send" class="special">
						<input type="hidden" name="_next" value="{{ site.baseurl }}/thank-you">
					</li>
				</ul>
			</form>
		</section>
		<section>
			<h2>Follow</h2>
			<ul class="icons">
				<li><a href="{{ site.data.footer_info.twitter_url }}" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="{{ site.data.footer_info.facebook_url }}" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
				<li><a href="{{ site.data.footer_info.instagram_url }}" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
				<li><a href="tel:{{ site.data.footer_info.phone }}" class="icon style2 fa-phone"><span class="label">Phone</span></a></li>
				<li><a href="mailto:{{ site.data.footer_info.email }}" class="icon style2 fa-envelope-o"><span class="label">Email</span></a></li>
				<li>{{ site.data.footer_info.address }}</li>
				<li>Phone: {{ site.data.footer_info.phone }} | Fax: {{ site.data.footer_info.fax }}</li>
			</ul>
		</section>
		<ul class="copyright">
			<li>&copy; {{ site.title }} 2017</li>
			<li>Silver Strand Physical Therapy is an affiliate of <a href="http://www.risephysicaltherapy.com">RISE Physical Therapy</a></li>
			<li>Theme Design: <a href="http://html5up.net">HTML5 UP</a></li>
			<li>Web Strategy: <a href="http://www.sageweb.co">Sage Web Co.</a></li>
			<li><a href="{{ site.url }}/sitemap">Sitemap</a></li>
			<li><a href="{{ site.url }}/privacy-policy">Privacy Policy</a></li>
		</ul>
	</div>
</footer>

</div>

<!-- Scripts -->
<script src="{{ site.url }}/assets/js/jquery.min.js"></script>
<script src="{{ site.url }}/assets/js/skel.min.js"></script>
<script src="{{ site.url }}/assets/js/util.js"></script>
<!--[if lte IE 8]><script src="{{ site.url }}/assets/js/ie/respond.min.js"></script><![endif]-->
<script src="{{ site.url }}/assets/js/main.js"></script>
